# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.env

# Testes e Linting
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Específicos do Projeto Poker Vision
*.mp4
*.avi
*.mov
*.pt
models/
runs/